/*common*/
body, dl, dd, h1, h2, h3, h4, h5, h6, p, form{margin:0;} 
ol,li,ul{
    margin:0; 
    padding:0;
    list-style-type: none;
}
html,body,#app,.wrapper{
    width:100%;
    height:100%;
    overflow: hidden;
}
body{
    font-family:"Helvetica Neue",Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
}
.clearfix:after{
    content: '';
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear:both;
}
.clearfix{
    zoom:1;
}
a{text-decoration: none}
.col-row {
    padding: 8px 15px;
}
.marginTb{
    margin:8px 0;
}
.textR{
    text-align: right;
}
.floatR{
    float: right;
}
.displayiB{
    display: inline-block;
}
.displayB{
    display: block!important;
}
.w75{
    width: 75%!important;
    display: inline-block;
}
.w50{
    width: 49%;
    display: inline-block;
}
.w25{
    width: 24%;
    display: inline-block;
}
/*header*/
.wrapper header {
    height: 60px;
    line-height: 60px;
    background: #20a0ff;
    color:#fff;
}
.wrapper .logo{
    float: left;
    width: 250px;
    text-align: center;
}
.userinfo-inner img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 15px 0px 10px 10px;
    float: right;
}
/*aside*/
.sidebar{
    display: block;
    position: absolute;
    width: 200px;
    left: 0;
    top: 70px;
    bottom:0;
    background: #eef1f6;
}
.sidebar > ul {
    height:100%;
}
/*content*/
.content{
    background: none repeat scroll 0 0 #fff;
    position: absolute;
    left: 200px;
    right: 0;
    top: 70px;
    bottom:0;
    width: auto;
    padding:40px;
    box-sizing: border-box;
    overflow-y: scroll;

}
.crumbs{
    margin-bottom: 20px;
}
.pagination{
    margin: 20px 0;
    text-align: right;
}
.plugins-tips{
    padding:20px 10px;
    margin-bottom: 20px;
}
.el-button+.el-tooltip {
    margin-left: 10px;
}

.el-table tr:hover{
    background: #f6faff;
}
.mgb20{
    margin-bottom: 20px;
}

.move-enter-active,.move-leave-active{
    transition: opacity .5s;
}
.move-enter,.move-leave{
    opacity: 0;
}
/*用户管理-微信账号*/
.wechat-pagin{
    margin-top: 10px;
}
.el-form-item label{
    width: 70px;
}
/*BaseForm*/
.form-box{
    width:600px;
}
.form-box .line{
    text-align: center;
}
.el-time-panel__content::after, .el-time-panel__content::before {
    margin-top: -7px;
}
/*Readme*/
.ms-doc .el-checkbox__input.is-disabled+.el-checkbox__label{
    color: #333;
    cursor: pointer;
}
/*Upload*/
.pure-button{
    width:150px;
    height:40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
}
.g-core-image-corp-container .info-aside{
    height:45px;
}
.el-upload--text {
    background-color: #fff;
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    box-sizing: border-box;
    width: 360px;
    height: 180px;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.el-upload--text .el-icon-upload {
    font-size: 67px;
    color: #97a8be;
    margin: 40px 0 16px;
    line-height: 50px;
}
.el-upload--text {
    color: #97a8be;
    font-size: 14px;
    text-align: center;
}
.el-upload--text em {
    font-style: normal;
}
/*VueEditor*/
.ql-container{
    min-height: 400px;
}
.ql-snow .ql-tooltip{
    transform: translateX(117.5px) translateY(10px) !important;
}
.editor-btn{
    margin-top: 20px;
}

/*业务管理-缴费记录*/ /*created by 12.05*/
.Pay-header .el-form-item label,.recharge-header .el-form-item label,{
   width:98px;
   text-align: left;
}
.Pay-pagin,.recharge-pagin,.wechat-pagin,.account-pagin,.activity-pagin,.feedback-pagin,.runone-pagin,.electrical-pagin,.help-pagin,.headline-pagin,.person-pagin{
    margin-top: 20px;
    float: right;
}
.Pay-content .el-input.is-disabled .el-input__inner,.recharge-content .el-input.is-disabled .el-input__inner,.wechat-content .el-input.is-disabled .el-input__inner,.account-content .el-input.is-disabled .el-input__inner,.feedback-content .el-input.is-disabled .el-input__inner,.runone-content .el-input.is-disabled .el-input__inner,.recharge-content .el-input.is-disabled .el-input__inner,.headline-content .el-input.is-disabled .el-input__inner,.person-content .el-input.is-disabled .el-input__inner,.person-content .el-checkbox__input.is-disabled+span.el-checkbox__label{
    color: #1f2d3d;
    background: #fff;
}
.person-content .el-checkbox__input.is-disabled.is-checked .el-checkbox__inner::after {
    border-color: #06c;
}
/*业务管理-意见建议,只跑一次*/ /*created by 12.08*/
.feedback-content .imgUl,.runone-content .imgUl{
    list-style: none;

}
.feedback-content .imgUl li,.runone-content .imgUl li{
    list-style: none;
    float: left;
    margin-left: 20px; 
    width: 145px;
    height: 100px;
    overflow: hidden;

}
.feedback-content .imgUl a,.runone-content .imgUl a{
    display: inline-block;
}
.feedback-content .imgUl img,.runone-content .imgUl img{
    width: 100%;
}
.feedback-content .hand-line,.runone-content .hand-line,.account-content .hand-line ,.wechat-content .hand-line{
    line-height: 24px;
    font-size: 18px;
    color: #2d2f33;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.account-content .el-form,.wechat-content .el-form{
    margin-top: 20px;
}
/*活动管理*/
.activity-content .el-checkbox{
    margin-right: 30px;
}
.activity-content .el-checkbox+.el-checkbox{
    margin-left: 0;
}
.activity-content .el-checkbox+.el-checkbox:nth-child(5) {
    margin-right: 0px!important;
}
.el-upload--text {
    width: 120px;
    height: 120px;
}
.avatar-input{
    position: relative;
    top: -130px;
    left: 0px;
    width: 120px;
    height: 120px;
    opacity: 0;
}
.imgSrc{
    width:120px;
    display: inline-block;
}
.imgSrc img{
    width:100%;
}
/*人员管理*/
.person-content .el-checkbox{
    margin-right: 30px;
}
.person-content .el-checkbox+.el-checkbox{
    margin-left: 0;
}
.person-content .el-checkbox+.el-checkbox:nth-child(5) {
    margin-right: 0px!important;
}
/*使用帮组*/
.help-content  .el-dialog{
    width:90%;
}
/*微信账号*/
.wechat-content .el-dialog__body,.account-content .el-dialog__body {
    padding: 0 20px 30px 20px;

}